<section id="carto">
  <div class="desc">
    <div class="left">
      <a href="/carte" target="_blank">Accéder aux cartes</a>
    </div>
    <div class="center">
      <h1>Carte</h1>
      <p>
	Créez des cartes internes ou contributives. Vous pouvez relever des points, recevoir des alertes et publier vos cartes pour permettre aux citoyens de contribuer.
      </p>
    </div>
  </div>
  <!--
      <div class="diapo">
        <div id="slider">
          <img src="img/_TEMP/diapo.jpg" alt="" />
        </div>
      </div>
      -->
</section>

<!-- Portail Web -->
<section id="webportal">
  <div class="desc">
    <div class="left">
      <a href="http://api.extra-muros.coop/mapage" target="_blank">Accéder au portail web</a>
    </div>
    <div class="center">
      <h1>Page Web</h1>
      <p>
	Publiez des informations tels que des images, photos, textes ou documents sur une page web à destination de tous publics.
      </p>
    </div>
  </div>
</section>

<!-- tasks -->
<section id="tasks">
  <div class="desc">
    <div class="left">
      <a href="#">Accéder aux taches</a>
    </div>
    <div class="center">
      <h1>Suivi de Taches</h1>
      <p>
	Organisez et suivez l'avancement d'un projet, des problématiques citoyennes ou encore d'un parteneriat.
      </p>
    </div>
  </div>
</section>

<!-- filer -->
<section id="filer">
  <div class="desc">
    <div class="left">
      <a href="#">Accéder aux fichiers</a>
    </div>
    <div class="center">
      <h1>Fichiers</h1>
      <p>
	Déposez et partagez des fichiers entre collaborateurs. Vous pouvez naviguer dans les dossiers, prévisualiser les fichiers et les télécharger.
      </p>
    </div>
  </div>
</section>
