<h2> Contribuer</h2>

<h4>&nbsp;</h4>

Encommuns.org s'applique à lui-même l'outil de caractérisation comme "commun". C'est visible sur <a href="http://encommuns.org/#/819">la fiche du projet</a>. C'est le meilleur endroit pour accéder directement aux outils de contribution du projet "encommuns.org" et s'approprier son fonctionnement. Bienvenue :-)
<br><br>
<h3>Echanger</h3>

<ul>
	<li>- Rejoignez <a href="http://lists.unisson.co/cgi-bin/mailman/listinfo/encommuns">la liste de discussion</a> pour échanger avec le collectif sur cette plateforme</li>
	<li>- Nos documents de construction du projet sont visibles <a href="https://drive.google.com/folderview?id=0BzUW0ZSBFWPefmQ5Y1dxd2JaeUN0V1RXcGxDV1F1M3N4U1ZRalNEajFvSTNZS2pTQlI3aHc&usp=sharing">ici dans un dossier google docs, éditable par tous</a></li>
</ul>

<h4>&nbsp;</h4>

<h3>Agir</h3>

<ul>
	<li>- Pour connaitre les travaux en cours ou envisagés, consultez l'<a href="https://trello.com/b/KgsuPnPK/encommuns">outil de gestion de tâches</a> et n'hésitez pas à rejoindre et à vous associer à des actions.</li>
	<li>- Si vous êtes <em>développeur logiciel</em> ou <em>administrateur système</em>, vous pouvez participer au code sur le <a href="https://github.com/UnissonCo/encommuns.org/">Github d'Encommuns</a>/li>
</ul>

<h4>&nbsp;</h4>

<h3>Financer</h3>

<ul>
	<li>Soutenez financièrement les contributeurs via Gratipay <a href="https://gratipay.com/encommuns" target="_blank">Gittip</a>. Chaque contributeur actif peut demander à rejoindre <a href="https://www.gratipay.com/encommuns/members/">la liste des bénéficiaires</a> et recevoir les financements de <a href="https://www.gratipay.com/encommuns/members/">manière transparente</a></li>
</ul>

<h4>&nbsp;</h4>

<p>&nbsp;</p>

<p>&nbsp;</p>

