<h2> Contribuer</h2>

<h4>&nbsp;</h4>

<h3>Echanger</h3>

<ul>
	<li>- Rejoignez <a href="http://unisson.co/fr/group/unisson/">la liste de discussion</a> pour échanger avec le collectif et partager vos expériences ou solutions autours des biens communs (unisson@lists.unisson.co)</li>
	<li>- Contribuer aux ressources existantes directement <a href="http://unisson.co/wiki">sur les pages organisées sous la forme d'un wiki</a></li>
	<li>- Découvrez <a href="http://unisson.co/fr/group/unisson/" target="_self">les contributeurs d'Unisson</a></li>
</ul>

<h4>&nbsp;</h4>

<h3>Agir</h3>

<ul>
	<li>- Pour connaitre les travaux en cours ou envisagés, consultez l'<a href="http://trello.com/b/qFsFaVzJ/unisson-co">outil de gestion de tâches</a> et n'hésitez pas à rejoindre et à vous associer à des actions.</li>
	<li>- Si vous êtes <em>développeur logiciel</em> ou <em>administrateur système</em>, vous pouvez rejoindre le <a href="https://github.com/UnissonCo/">Unisson Dev Squad</a> sur Github et nous aider à construire les outils numériques de support aux biens communs.</li>
</ul>

<h4>&nbsp;</h4>

<h3>Financer</h3>

<ul>
	<li>Soutenez financièrement les contributeurs d'Unisson.co via <a href="http://gittip.com/unissonco" target="_blank">Gittip</a>. Chaque contributeur actif peut demander à rejoindre <a href="https://www.gittip.com/UnissonCo/members/">la liste des bénéficiaires</a> et recevoir les financements de <a href="https://www.gittip.com/UnissonCo/members/">manière transparente</a></li>
</ul>

<h4>&nbsp;</h4>

<p>&nbsp;</p>

<p>&nbsp;</p>

