<h2> A propos de ce site</h2>
<h3> Description de encommuns.org</h3>
<iframe src="//slides.com/unisson/unis/embed" width="960" height="620" scrolling="no" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
<br></br><br></br>
<h3> C'est quoi un commun ?</h3>
<iframe src="//slides.com/unisson/qu-est-ce-qu-un-bien-commun/embed" width="960" height="620" scrolling="no" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

<br></br>	Plus d'informations sur ce qu'est un commun sur le site <a href="http://unisson.co/communs">unisson.co </a><br></br>
<p->Contenus sous licence libre CC BY-SA 4.0 et site développé en Angular (licence AGPL) disponible sur <a href="http://github.com/unissonco/encommuns.org">GITHUB</a>.</p>
<p>Le site est basé sur une <a href="http://data.patapouf.org/api/v0/">API</a> ouverte de projets, du dataserveur en Django (licence AGPL) disponible sur <a href="https://github.com/UnissonCo/dataserver/">GITHUB</a>.</p>

